html {
	height: 100%;
	position: relative;
	min-height: 100%;
}
body{
	height: auto;
	font-family:'Open Sans Condensed';
	sans-serif; background:#f8f8f8;
	position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
/* Topbar */
.SiteHeader {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 800;
	font-size: 14px;
	color: #fff;
	border-top: 2px solid #29C429;
	border-bottom: 1px solid #cef5ce;
	box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
}
.icon-bar {
background-color: #000;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar-brand{
  left: 10%;
  position: absolute;
}
.navbar {
  text-align: center;
}
.login_container {
	/*background-image:url('../../images/login_wp.jpg') !important;*/
  /*  font-family: 'Roboto', sans-serif;*/
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}
strong { font-weight: 500; }

h1 {
	margin-top: 10px;
	font-size: 38px;
  font-weight: 100;
  color: #186309;
  line-height: 50px;
}
h2{
	font-size: 30px;
	font-weight: 300;
	color: black;
	line-height: 40px;
}
h3 {
	font-size: 22px;
    font-weight: 300;
    color: #186309;
    line-height: 30px;
}

.form-box {
	margin-top: 70px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #4A9454;
	border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #A9DBB0;
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.middle-border {
	min-height: 480px;
	margin-top: 70px;
	border-right: 2px solid #02420B;
}

 button.custom_btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #4A9454;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    border-radius: 4px;
    text-shadow: none;
    box-shadow: none;
    transition: all .3s;
}
/*.SiteHeader .header_inner {
	width: 1002px;
}
/*.SiteHeader .header_inner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 0 auto;
}
/*.SiteHeader {
	font-size: 14px;
	color: #fff;
}
.SiteHeader .header_logo {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
}
/*.SiteHeader .header_logo a {
	display: block;
	width: 80px;
	height: 50px;
	background-size: 80px 23px;
	/*background-image: url(//qsf.ec.quoracdn.net/-3-images.logo.wordmark_default.svg-26-32753849bf197b54.svg);*/
/*	background-repeat: no-repeat;
	background-position: center center;
}*/
.btn-outline-success {
	color: #5cb85c;
	background-image: none;
	background-color: transparent;
	border-color: #5cb85c;
}
a {
	background: transparent;
	text-decoration: none !important;
	color: #29C429;
}

/*.SiteHeader .header_logo a span {
	display: none;
}*/

.count-cell{
	box-sizing: border-box;
	width: 30px;
}
.mini-count{
	font-size: 12px;
	font-weight: normal;
	line-height: 1.3;
	text-align: center;
	color: #6a737c;
	min-width: 36px;
	height: auto;
	padding: 3px 6px;
	margin-right: 10px;
	display: inline-block;
	border: 1px solid #5cb85c;
	border-radius: 2px;
}

.vote{
	font-size: 40px;
}
.vote span:hover{
	color: black;
}
.vote-cell{
	vertical-align: top;
}
.vote-cell span{
	display: block;
}
.view-count{
	box-sizing: border-box;
	width: 30px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3;
	text-align: center;
	color: #6a737c;
	min-width: 36px;
	height: auto;
	padding: 3px 6px;
	margin-right: 10px;
	display: inline-block;
	border: 1px solid #5cb85c;
	border-radius: 2px;
}

.vote {
	box-sizing: border-box;
	width: 30px;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.3;
	text-align: center;
	color: #5cb85c;
	min-width: 36px;
	height: auto;
	padding: 3px 6px;
	margin-right: 10px;
	display: inline-block;
}

.vote span {
	text-align: center;
	color: #5cb85c;
}

.data-cell{
	vertical-align: top;
}
.asked-panel{
	box-sizing: border-box;
	width:auto;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.3;
	text-align: left;
	background-color: white;
	color: #5cb85c;
	min-width: 36px;
	height: auto;
	padding: 3px 6px;
	margin-right: 10px;
	display: inline-block;
	border: 1px solid #5cb85c;
	border-radius: 2px;
}
.asked-label{
	font-size: 15px;
	font-weight: bold;
	line-height: 1.5;
}
