{% include '/header.html' %}
<div class="container-fluid">
  <div class="row">
    <legend>How do I write a good answer?</legend>
    <p><em><b>Read and Re-read the Question</b></em></p>
    <p>
      Read the question carefully. What, specifically, is the question asking for? Make sure your answer provides that – or a
      viable alternative. The answer can be <i><b>“don’t do that”</b></i>, but it should also include <i><b>“try this instead”</b></i>.
      Any answer that gets the asker going in the right direction is helpful, but do try to mention any limitations, assumptions or
      simplifications in your answer. Brevity is acceptable, but fuller explanations are better.
    </p>
    <p><em><b>Provide context for links</b></em></p>
    <p>
      Links to external resources are encouraged, but please add context around the link so your fellow users will have some idea
      what it is and why it’s there. Always quote the most relevant part of an important link, in case the target site is
      unreachable or goes permanently offline.
    </p>
    <p><em><b>Write to the best of your ability</b></em></p>
    <p>
      We don't expect every answer to be perfect, but answers with correct spelling, punctuation, and grammar are easier to read.
      They also tend to get upvoted more frequently.
    </p>
    <p><em><b>Answer well-asked questions</b></em></p>
    <p>
      Not all questions can or should be answered here. Save yourself some frustration and avoid trying to answer questions which...
      <ul>
        <li>...are unclear or lacking specific details that can uniquely identify the problem.</li>
        <li>...solicit opinions rather than facts.</li>
        <li>...have already been asked and answered many times before.</li>
        <li>...require too much guidance for you to answer in full, or request answers to multiple questions.</li>
        <li>...are not about <b>farming</b>.</li>
      </ul>
    </p>
    <p><em><b>Always be polite and have fun</b></em></p>
    <p>
      It’s fine to disagree and express concern, but please be civil. There’s a real human being on the other end of that network
      connection, however misguided they may appear to be. We’re here to learn from our peers, not yell at each other.
    </p>
  </div>
</div>
{% include '/footer.html'%}
