      <div class = "footer">
        <div class="copyright">
          <div class="container">
            <div class="col-md-6">
              <p>© 2017 - All Rights with <span class="glyphicon glyphicon-leaf">agroFarm</span></p>
            </div>
            <div class="col-md-6">
              <ul class="bottom_ul">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.ask_question') }}">Questions</a></li>
                <li><a href="{{ url_for('main.about') }}">About</a></li>
                <li><a href="{{ url_for('main.help') }}">Help Center</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  $(".nav a").on("click", function(){
    $(".nav").find(".active").removeClass("active");
    $(this).parent().addClass("active");
  });
  </script>
</html>
