{% include '/header.html' %}
<h1>Welcome {{ session['u_name'] }}</h1>
User Id: {{ session['u_id'] }}<br />Email: {{ session['u_email'] }}
<hr />

<div class = "container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h2> Questions </h2>
          <table class="table table-responsive">
            <tbody>
      {% for data in question %}
              <tr>
                <td class="count-cell">
                  <div class="mini-count">{{data.upvotes - data.downvotes}}</div>
                </td>
                <td>
                  <a href="{{url_for('main.view_question', q_id=data.id)}}">{{data.title|truncate(200, True)}}</a>
                </td>
              </tr>
      {% endfor %}
            </tbody>
          </table>
    </div>
    <!--<div class="col-sm-2"></div>-->
    <div class="col-sm-6">
      <h2> Answers </h2>
      <table class="table table-responsive">
        <tbody>
          {% for data in answer %}
          <tr>
            <td class="count-cell">
              <div class="mini-count">{{data[0].upvotes - data[0].downvotes}}</div>
            </td>
            <td>
              <a href="{{url_for('main.view_question', q_id=data[0].q_id)}}">{{data[1]|truncate(200, True)}}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{%include '/footer.html'%}
