{% include '/header.html' %}
<div class="container-fluid">
  <div class="row">
    <legend>How do I ask a good question?</legend>
    <p><em><b>Search, and research</b></em></p>
    <p>
      Keep track of what you find. Even if you don't find a useful answer elsewhere on the site, including links to related
      questions that haven't helped can help others in understanding how your question is different from the rest.
    </p>
    <p><em><b>Imagine You’re Trying To Answer The Question</b></em></p>
    <p>
      Once you’ve finished writing your question, read it through. Imagine you were coming to it fresh, with no context other than
      what’s on the screen. Does it make sense? Is it clear what’s being asked? Is it easy to read and understand?
      Are there any obvious areas you’d need to ask about before providing an answer?
      You can usually do this pretty well however stuck you are on the actual question. Just apply common sense.
      If there’s anything wrong with the question when you’re reading it, obviously that will be a problem for whoever’s actually
      trying to answer it. So fix the problems. Improve the question until you can read it and think,
      “If I only knew the answer to the question, it would be a pleasure to provide that answer.”
      At that point, post and wait for the answers to come rolling in.
    </p>
    <p><em><b>Select an Informed "Title"</b></em></p>
    <p>
      The title is the first thing potential answerers will see, and if your title isn't interesting, they won't read the rest.
      So make it count.<br />It’s important that the question title is specific though, and has at least some meaning with no other
      information. A question such as <i><b>“Why doesn’t this work?”</b></i> makes absolutely no sense without the rest of the
      question. Likewise a “question” title of <i><b>“Please help”</b></i> is unlikely to do well.
    </p>
    <p><em><b>Provide Specifics</b></em></p>
    <p>
      Pretend you're talking to a busy colleague and have to sum up your entire question in one sentence: what details can you
      include that will help someone identify and solve your problem? Describe what you’ve already tried and the results of any
      research. Often there will be other people in a similar situation, but the answers didn’t quite match your situation.
      It saves time if you can point out differences between your situation and other common ones.
      It’s even worth referring to other related questions explicitly – particularly if they’re on the same forum.
      Aside from anything else, this shows a certain amount of “due diligence” – people are generally more willing to help you if
      can show you’ve already put some effort in.
    </p>
    <p><em><b>Spelling, grammar and punctuation are important!</b></em></p>
    <p>
      Remember, this is the first part of your question others will see - you want to make a good impression.
      If you're not comfortable writing in English, ask a friend to proof-read it for you.
    </p>
    <p><em><b>Help Others</b></em></p>
    <p>
      If an answer is particularly helpful or solves your problem, <b><i>accept it</i> by clicking on the tick mark by it</b>. This gives more information to future readers.
    </p>
  </div>
</div>
{% include '/footer.html'%}
