{% include '/header.html' %}
<script>
  var flag = 0;
  {% if answer_accepted: %}
  {% if answer_accepted[0].u_id == session['u_id']: %}
  flag = 1;
  {% endif %}
  {% endif %}
  {% for data in all_answers %}
  {% if data[0].u_id == session['u_id']: %}
  flag = 1;
  {% endif %}
  {% endfor %}
  if(flag==1){
    $(document).ready(function() {
      $("#answer_me").hide();
    });
  }
  else{
    $(document).ready(function() {
      $("#answer_me").show();
    });
  }
</script>
<script>
{% if 'u_id' not in session or question[0].u_id != session['u_id'] or answer_accepted: %}
  $(document).ready(function() {
    $("[id=accept]").hide();
  });
{% endif %}
</script>
<div class = "container-fluid">
  <div class="row">
    <div class="col-sm-12">
      {% block question %}
      <h4>{{question[0].title}} </h4>
      <hr />
          <table>
            <tbody>
              <tr>
                <td class="vote-cell">
                  <a class="vote" title="This question is useful and clear" id="vote_up" data-vote-up="UP" data-type-up="QUESTION" data-id-up="{{question[0].id}}"><span class="glyphicon glyphicon-menu-up"></span></a>
                  <span class="view-count">{{question[0].upvotes - question[0].downvotes}}</span>
                  <a class="vote" title="This question is unclear or not useful" id="vote_down" data-vote-down="DOWN" data-type-down="QUESTION" data-id-down="{{question[0].id}}"><span class="glyphicon glyphicon-menu-down"></span></a>
                </td>
                <td class="data-cell">
                  {% for line in question[0].details.splitlines() %}
                  {{line}}<br />
                  {% endfor %}
                  <table>
                    <tbody>
                      <tr>
                        <td class="asked-panel">
                          <span class="asked-label">Asked:</span>
                          <div><script>document.write(moment("{{question[0].asked}}").format('lll'))</script></div>
                          <div>{{question[1]}}</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          {% endblock %}
          <hr />
          <div class="row">
          {% if ques_suggestions and ques_suggestions['hits']['total'] != 0: %}
            <div class="col-sm-6">
              <h4>Suggested Questions:</h4>
              <table class="table table-responsive">
                <tbody>
                  {% for data in ques_suggestions['hits']['hits']: %}
                  {% if not loop.first: %}
                  <tr>
                    <td class="count-cell">
                      <div class="mini-count">{{data['_source']['upvotes'] - data['_source']['downvotes']}}<br />Votes</div>
                    </td>
                    <td>
                      <a href="{{url_for('main.view_question', q_id=data['_source']['id'])}}">{{data['_source']['title']}}</a>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
            {% if ans_suggestions and ans_suggestions['hits']['total'] != 0: %}
            <div class="col-sm-6">
              <h4>Suggested Answers:</h4>
              <table class="table table-responsive">
                <tbody>
                  {% for data in ans_suggestions['hits']['hits']: %}
                  <tr>
                    <td class="count-cell">
                      <div class="mini-count">{{data['_source']['upvotes'] - data['_source']['downvotes']}}<br />Votes</div>
                    </td>
                    <td>
                      <a href="{{url_for('main.view_question', q_id=data['_source']['q_id'])}}">{{data['_source']['ans']|truncate(200, True)}}</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
          </div>
          <legend>Answers: </legend>
          <div id="answer_me" name="answer_me">
            <div class="col-sm-12">
      	       <h3><span class="glyphicon glyphicon glyphicon-question-sign"></span>Answer</h3>
               <form role="form" class="answer-form" name="answer_form" id="answer_form" data-toggle="validator">
                 <div class="form-group">
                   <label class="control-label" for="answer-form-text">Answer</label>
                   <textarea form="answer_form" rows="5" name="answer-form-text" placeholder="Answer" class="form-control" id="answer-form-text" required></textarea>
                   <div class="help-block with-errors"></div>
                 </div>
                 <button type="submit" name = "answer_button" id = "answer_button" class="btn btn-primary custom_btn btn-lg btn-block">Answer</button>
               </form>
               <hr />
             </div>
           </div>

          {% block ACCEPTED_ANSWER %}
          {% if answer_accepted: %}
              <table>
                <tbody>
                  <tr>
                    <td class="vote-cell">
                      <a class="vote" title="This answer is useful and clear" id="vote_up" data-vote-up="UP" data-type-up="ANSWER" data-id-up="{{answer_accepted[0].id}}"><span class="glyphicon glyphicon-menu-up"></span></a>
                      <span class="view-count">{{answer_accepted[0].upvotes - answer_accepted[0].downvotes}}</span>
                      <a class="vote" title="This question is unclear or not useful" id="vote_down" data-vote-down="DOWN" data-type-down="ANSWER" data-id-down="{{answer_accepted[0].id}}"><span class="glyphicon glyphicon-menu-down"></span></a>
                      <a class="vote accepted" title="This answer is the most useful one" id="accepted" data-id = "{{ answer_accepted[0].id }}"><span class="glyphicon glyphicon-ok"></span></a>
                    </td>
                    <td class="data-cell">
                      {% for line in answer_accepted[0].ans.splitlines() %}
                      {{line}}<br />
                      {% endfor %}
                      <table>
                        <tbody>
                          <tr>
                            <td class="asked-panel">
                              <span class="asked-label">Answered:</span>
                              <div><script>document.write(moment("{{answer_accepted[0].answered}}").format('lll'))</script></div>
                              <div>{{answer_accepted[1]}}</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr />
              {% endif%}
              {% endblock %}
              {% block ALL_ANSWERS %}
              {% for data in all_answers %}
              <table>
                <tbody>
                  <tr>
                    <td class="vote-cell">
                      <a class="vote" title="This answer is useful and clear" id="vote_up" data-vote-up="UP" data-type-up="ANSWER" data-id-up="{{data[0].id}}"><span class="glyphicon glyphicon-menu-up"></span></a>
                      <span class="view-count">{{data[0].upvotes - data[0].downvotes}}</span>
                      <a class="vote" title="This question is unclear or not useful" id="vote_down" data-vote-down="DOWN" data-type-down="ANSWER" data-id-down="{{data[0].id}}"><span class="glyphicon glyphicon-menu-down"></span></a>
                      <a class="vote accept" title="This answer is the most useful one" id="accept" data-id = "{{ data[0].id }}"><span class="glyphicon glyphicon-ok"></span></a>
                    </td>
                    <td class="data-cell">
                      {#{data[0].ans}#}
                      {% for line in data[0].ans.splitlines() %}
                      {{line}}<br />
                      {% endfor %}
                      <table>
                        <tbody>
                          <tr>
                            <td class="asked-panel">
                              <span class="asked-label">Answered:</span>
                              <div><script>document.write(moment("{{data[0].answered}}").format('lll'))</script></div>
                              <div>{{data[1]}}</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr />
              {% endfor %}
              {% endblock %}
        </div>
<script>
$(document).ready(function(){
  $('[id=vote_up]').click(function(e){
    $.ajax({
      data: JSON.stringify({"vote": $(this).attr("data-vote-up"), "id": $(this).attr("data-id-up"), "type": $(this).attr("data-type-up")}),
      type: 'POST',
      url: '{{ url_for("main.vote") }}',
      dataType: 'json',
      contentType: 'applicaton/json',
      success: function(result){
        if(result['status']==0){
          window.location.replace("{{url_for('main.view_question', q_id=question[0].id)}}");
        }
        else{
          alert(result['status_msg']);
        }
      }
    });
    e.preventDefault();
  });
});
</script>
<script>
$(document).ready(function(){
  $('[id=vote_down]').click(function(e){
    $.ajax({
      data: JSON.stringify({"vote": $(this).attr("data-vote-down"), "id": $(this).attr("data-id-down"), "type": $(this).attr("data-type-down")}),
      type: 'POST',
      url: '{{ url_for("main.vote") }}',
      dataType: 'json',
      contentType: 'applicaton/json',
      success: function(result){
        if(result['status']==0){
          window.location.replace("{{url_for('main.view_question', q_id=question[0].id)}}");
        }
        else{
          alert(result['status_msg']);
        }
      }
    });
    e.preventDefault();
  });
});
</script>
<script>
$(document).ready(function(){
  $('#answer_form').submit(function(e){
    if(!$('#answer-form-text').val())
    {
      alert("Data Required!")
      return false;
    }
    $.ajax({
      data: JSON.stringify({"ans": $('#answer-form-text').val()}),
      type: 'POST',
      url: '{{ url_for("main.submit_answer", q_id=question[0].id) }}',
      dataType: 'json',
      contentType: 'applicaton/json',
      success: function(result){
        if(result['status']==0){
          window.location.replace("{{ url_for('main.view_question', q_id=question[0].id, _external=True) }}");
        }
        else{
          alert(result['status_msg']);
        }
      }
    });
    e.preventDefault();
  });
});
</script>
<script>
$(document).ready(function(){
  $('[id=accept]').click(function(e){
    $.ajax({
      data: JSON.stringify({"a_id": $(this).attr("data-id"), "q_id": "{{ question[0].id }}"}),
      type: 'POST',
      url: '{{ url_for("main.accept") }}',
      dataType: 'json',
      contentType: 'applicaton/json',
      success: function(result){
        if(result['status']==0){
          window.location.replace("{{url_for('main.view_question', q_id=question[0].id)}}");
        }
        else{
          alert(result['status_msg']);
        }
      }
    });
    e.preventDefault();
  });
});
</script>
<script>
$(document).ready(function(){
  $('[id=accepted]').click(function(e){
    $.ajax({
      data: JSON.stringify({"a_id": $(this).attr("data-id"), "q_id": "{{ question[0].id }}"}),
      type: 'POST',
      url: '{{ url_for("main.accept") }}',
      dataType: 'json',
      contentType: 'applicaton/json',
      success: function(result){
        if(result['status']==0){
          window.location.replace("{{url_for('main.view_question', q_id=question[0].id)}}");
        }
        else{
          alert(result['status_msg']);
        }
      }
    });
    e.preventDefault();
  });
});
</script>
{%include '/footer.html'%}
