{% include '/header.html' %}
<div class="container-fluid">
  <div class="row">
    <legend>Vote Up</legend>
    <p><em><b>What is voting up?</b></em></p>
    <p>
      Voting up is how the community indicates which questions and answers are most useful and appropriate.
    </p>
    <p><em><b>When should I vote up?</b></em></p>
    <p>
      Whenever you encounter a question, answer or comment that you feel is especially useful, vote it up!
    </p>
    <p><em><b>How do I vote up?</b></em></p>
    <p>
      Click the <b>large up arrow</b> to the left of a post.
      You can undo your vote by clicking the same button you used to vote, so click the up arrow to undo an upvote or
      the down arrow to undo a downvote. To change a vote from up to down, click the down arrow, and vice versa.
    </p>
    <p><em><b>What happens when I vote up?</b></em></p>
    <p>
      When you vote up, you are moving that content "up" so it will be seen by more people.
      By default, answers are sorted by number of votes. Except for the accepted answer, which appears first unless it was written by the asker.
    </p>
    <p><em><b>Always be polite and have fun</b></em></p>
    <p>
      It’s fine to disagree and express concern, but please be civil. There’s a real human being on the other end of that network
      connection, however misguided they may appear to be. We’re here to learn from our peers, not yell at each other.
    </p>
  </div>
  <div class="row">
    <legend>Vote Down</legend>
    <p><em><b>What is voting down?</b></em></p>
    <p>
      Voting down, also known as "casting downvotes", is how the community indicates which questions and answers are least useful.
    </p>
    <p><em><b>When should I vote down?</b></em></p>
    <p>
      Use your downvotes whenever you encounter an egregiously sloppy, no-effort-expended post, or an answer that is clearly and perhaps dangerously incorrect.
    </p>
    <p><em><b>How do I vote down?</b></em></p>
    <p>
      Click the <b>large down arrow</b> to the left of a post.
      You can undo your vote by clicking the same button you used to vote, so click the up arrow to undo an upvote or
      the down arrow to undo a downvote. To change a vote from up to down, click the down arrow, and vice versa.
    </p>
    <p><em><b>What happens when I vote down?</b></em></p>
    <p>
      When you vote down, you are nudging that content "down" the page, so it will be seen by fewer people.
      Voting down answers is not something we want you to take lightly, so <b>be responsible</b>.
    </p>
  </div>
</div>
{% include '/footer.html'%}
